Import machine learning model

In [3]:
from joblib import load

ultimate_inference_pipeline = load("Credit_approval.joblib")

Load of new database to use in the model

In [4]:
import pandas as pd
predict_final = pd.read_csv("predict_final.csv")
predict_final

,CreditScore,AnnualIncome,LoanAmount,LoanDuration,Age,EmploymentStatus,MaritalStatus,NumberOfDependents,EducationLevel,HomeOwnershipStatus,...,EmployerType,JobTenure,MonthlySavings,AnnualBonuses,AnnualExpenses,MonthlyHousingCosts,MonthlyTransportationCosts,MonthlyFoodCosts,MonthlyHealthcareCosts,MonthlyEntertainmentCosts
0,440,49074,25738,20,31,Employed,Married,2,Associate,Own,...,Public,22,580,6579,25299,1615,133,125,210,93
1,400,88620,21684,7,58,Employed,Divorced,3,Master,Own,...,Private,38,129,4811,31387,1509,389,163,234,117
2,641,66278,17635,6,46,Self-Employed,Divorced,4,Bachelor,Own,...,Self-Employed,7,312,5780,37678,1077,307,155,171,118
3,387,65406,10753,2,60,Unemployed,Widowed,1,Doctorate,Mortgage,...,Other,35,433,6772,26007,905,188,537,205,82
4,499,57134,22589,10,57,Self-Employed,Single,4,Associate,Rent,...,Private,28,78,3379,31906,1517,457,427,171,183
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,592,36452,24944,22,19,Self-Employed,Widowed,3,Master,Own,...,Public,3,285,6876,24875,715,345,416,184,158
196,613,65353,2035,3,54,Employed,Divorced,1,High School,Mortgage,...,Other,21,1013,6091,28956,1585,72,338,266,95
197,414,83679,19053,10,54,Unemployed,Married,2,Bachelor,Other,...,Other,33,523,5740,31540,890,351,599,148,138
198,333,79096,22567,4,21,Self-Employed,Married,2,Bachelor,Rent,...,Other,35,525,5669,26843,2082,80,427,366,100
199,627,62867,19115,8,23,Employed,Married,4,Associate,Mortgage,...,Self-Employed,18,287,6476,17752,1226,311,227,119,167

Use the model in the new database, shows the result 0= Not approved and 1 = Approved.

In [5]:
ultimate_inference_pipeline.predict(predict_final)

array([0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1,
       1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1,
       1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1,
       0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0,
       1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1,
       0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0,
       0, 1])

Response linkage with original dataframe

In [6]:
predict_final['Appoved'] = ultimate_inference_pipeline.predict(predict_final)

In [7]:
predict_final

,CreditScore,AnnualIncome,LoanAmount,LoanDuration,Age,EmploymentStatus,MaritalStatus,NumberOfDependents,EducationLevel,HomeOwnershipStatus,...,JobTenure,MonthlySavings,AnnualBonuses,AnnualExpenses,MonthlyHousingCosts,MonthlyTransportationCosts,MonthlyFoodCosts,MonthlyHealthcareCosts,MonthlyEntertainmentCosts,Appoved
0,440,49074,25738,20,31,Employed,Married,2,Associate,Own,...,22,580,6579,25299,1615,133,125,210,93,0
1,400,88620,21684,7,58,Employed,Divorced,3,Master,Own,...,38,129,4811,31387,1509,389,163,234,117,0
2,641,66278,17635,6,46,Self-Employed,Divorced,4,Bachelor,Own,...,7,312,5780,37678,1077,307,155,171,118,1
3,387,65406,10753,2,60,Unemployed,Widowed,1,Doctorate,Mortgage,...,35,433,6772,26007,905,188,537,205,82,0
4,499,57134,22589,10,57,Self-Employed,Single,4,Associate,Rent,...,28,78,3379,31906,1517,457,427,171,183,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,592,36452,24944,22,19,Self-Employed,Widowed,3,Master,Own,...,3,285,6876,24875,715,345,416,184,158,1
196,613,65353,2035,3,54,Employed,Divorced,1,High School,Mortgage,...,21,1013,6091,28956,1585,72,338,266,95,1
197,414,83679,19053,10,54,Unemployed,Married,2,Bachelor,Other,...,33,523,5740,31540,890,351,599,148,138,0
198,333,79096,22567,4,21,Self-Employed,Married,2,Bachelor,Rent,...,35,525,5669,26843,2082,80,427,366,100,0
199,627,62867,19115,8,23,Employed,Married,4,Associate,Mortgage,...,18,287,6476,17752,1226,311,227,119,167,1